@model FabricaDeSorrisos.Domain.Entities.Marca
@{
    ViewData["Title"] = "Nova Marca"; Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card p-4 shadow-sm" style="max-width: 600px; margin: auto;">
    <h4 class="mb-4 text-primary"><i class="bi bi-plus-circle"></i> Cadastrar Marca</h4>

    <form asp-action="Create" enctype="multipart/form-data">
        <partial name="_Form" model="Model" />
    </form>
</div>