@model FabricaDeSorrisos.Web.Models.LoginViewModel
@{
    ViewData["Title"] = "Entrar";
    Layout = null; // Isso remove a Navbar e o Footer padrão
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fábrica de Sorrisos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/account/account.css" />
</head>
<body>

    <div class="login-wrapper">
        <div class="login-content">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/img/logo.png" alt="Logo Fábrica de Sorrisos" class="logo-img" />
            </a>

            <div class="login-card">
                <h2 class="titulo-login">Bem-vindo à fábrica de sorrisos!</h2>

                <form asp-action="Login">
                    <div class="input-group-custom">
                        <label>E-mail</label>
                        <input asp-for="Email" placeholder="Digite seu E-mail" />
                    </div>

                    <div class="input-group-custom">
                        <label>Senha</label>
                        <input asp-for="Senha" type="password" placeholder="Digite sua senha" />
                    </div>

                    <div class="checkbox-area">
                        <input asp-for="LembrarMe" type="checkbox" id="keep" />
                        <label for="keep">Permanecer conectado?</label>
                    </div>

                    <div class="d-grid gap-2">
                        <button type="submit" class="btn-logar">Logar</button>
                    </div>
                </form>

                <p class="footer-text-login">
                    Não possui uma conta? <a asp-action="Register">Cadastre-se</a>
                </p>
            </div>
        </div>
    </div>

</body>
</html>